@import 'libs/bootstrap-reboot.min';
@import 'libs/animation';
@import 'libs/variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import 'header/header';
@import 'titlebox/titlebox';
@import 'photo/photo';
@import 'products/products';
@import 'contacts/contacts';
@import 'accordion/accordion';
@import 'blocks/blocks';
@import 'about/about';
@import 'modal/modal';
@import 'images/images';
@import 'privacy/privacy.scss';
@import 'libs/media';
@import 'header/header__media';
@import 'titlebox/titlebox__media';
@import 'products/products__media';
@import 'photo/photo__media';
@import 'about/about__media';
@import 'accordion/accordion__media';
@import 'contacts/contacts__media';
@import 'modal/modal__media';
@import 'images/images__media';

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

body {
    background: url('../img/pattern.png');
}

.visible {
    display: none;
}

.changeColor {
    background-color: $colorOne;
    color: $colorTwo;
    transition: 0.7s all;
}

.changeScrollColor {
    background-color: $colorOne;
    color: $colorTwo;
    transition: 0.7s all;
}

.changePlus {
    background-color: $colorOne;
}

.changePlusBlack {
    background-color: $colorTwo;
}

.imgShow {
    opacity: 1;
}

.imgHide {
    opacity: 0;
}