@import 'libs/bootstrap-reboot.min';
@import 'libs/animation';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import 'header/header';
@import 'titlebox/titlebox';
@import 'slider/slider';
@import 'products/products';
@import 'contacts/contacts';
@import 'accordion/accordion';
@import 'pageup/pageup';
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visible {
    display: none;
}

.changeColor {
    background-color: #fff;
    color: #000;
    transition: 0.7s all;
}

.changePlus {
    background-color: #fff;
}

.changePlusBlack {
    background-color: #000;
}