.contacts {
    margin-top: 60px;
    height: 150px;
    background-color: $colorTwo;
    padding: 20px;
    &__title {
        font-size: 25px;
        text-align: center;
        color: $colorOne;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 140px;
    }
    &__link {
        font-size: 55px;
        height: 60px;
        color: $colorOne;
        &:hover {
            color: $colorOne;
        }
    }
}