@media (max-width: 1400px) {
    .modal {
        &__wrapper {
            height: 90vh;
        }
        &__slider {
            &-wrapper {
                height: 60vh;
            }
        }
    }
}
@media (max-width: 1200px) {
    .modal {
        &__wrapper {
            width: 900px;
        }
        &__links {
            width: 100%;
        }
        &__prices {
            width: 150px;
        }
        &__slider {
            width: 420px;
            height: 480px;
            &-wrapper {
               width: 65%;
            }
            &-next {
                left: 380px; 
            }
        }
        &__tabs {
            width: 80%;
        }
        &__price, &__mainPrice {
            font-size: 22px;
        }

    }
}

@media (max-width: 992px) {
    .modal {
        &__wrapper {
            width: 700px;
            height: 1200px;
            grid-template: 5% 25% 50% 10% 10%/ repeat(1, 100%);
            top: 90%;
        }
        &__title {
            grid-column: 1 / 2;
        }
        &__descr {
            grid-column: 1/2;
        }
        &__composition {
            margin-top: 10px;
        }
        &__links {
            width: 80%;
            grid-row: 5/6;
            grid-column: 1/2;
        }
        &__prices {
            width: 250px;
        }
        &__slider {
            grid-row: 3/4;
            &-next {
                left: 500px;
            }
        }
        &__tabs {
            grid-row: 4/5;
        }
        &__price, &__mainPrice {
            font-size: 26px;
        }

    }
}

@media (max-width: 768px) {
    .modal {
        &__wrapper {
            width: 500px;
            height: 1200px;
            z-index: 6;
        }
        &__links {
            width: 90%;
            
        }
        &__slider {
            &-next {
                left: 400px;
            }
        }
        &__price, &__mainPrice {
            font-size: 23px;
        }
    }
}

@media (max-width: 576px) {
    .modal {
        &__submit {
            width: 150px;
            a {
                font-size: 20px;
            }
        }
        &__wrapper {
            width: 300px;
            height: 1300px;
            z-index: 6;
        }
        &__links {
            width: 100%;
        }
        &__title {
            font-size: 25px;
        }
        &__descr {
            font-size: 18px;
            text-align: center;
        }
        &__composition {
            margin: 0 auto;
            margin-top: 30px;
        }
        &__price,&__mainPrice {
            font-size: 16px;
        }
        &__close {
            top: -20px;
            right: 0;
            font-size: 50px;
        }
        &__slider {
            margin-top: 150px;
            width: 250px;
            height: 300px;
            &-wrapper {
                width: 250px;
                height: 350px;
            }
            &-next {
                left: 210px;
            }
            &-next,&-prev {
                top: 55%;
            }
        }
        &__tabs {
            width: 100%;
        }
    }
}