.products {
    padding: 100px 0;
    min-height: 1000px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 100px;
    }
    &__item {
        width: 350px;
        cursor: pointer;
        &-photo {
            width: 100%;
            height: 525px;
            transition: 0.6s all;
            background-color: #000;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.6s all;
                opacity: 1;
            }
        }
        &-name,&-price {
            text-align: center;
            font-size: 18px;
            margin-top: 15px;
            font-weight: 600;
            transition: 0.6s all;
            color: $colorTwo;
        }
    }
    &__collection {
        margin-top: 80px;
        text-align: center;
        font-size: 25px;
        transition: 3s all;
        opacity: 0;
        span {
            background-color: #000;
            border-radius: 5px;
            color: $colorOne;
        }
        &-active {
            opacity: 1;
        }
    }
}