@media (max-width: 1200px) {
    .products {
        min-height: 900px;
        &__wrapper {
            padding: 0 40px;
        }
        &__item {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 992px) {
    .products {
        &__wrapper {
            padding: 0 20px;
            margin-top: 50px;
        }
        &__item {
            width: 300px;
        }
        &__collection {
            font-size: 20px;
            margin-top: 50px;
        }
    }
}

@media (max-width: 768px) {
    .products {
        padding-bottom: 80px;
        &__subtitle {
            font-size: 29px;
        }
        &__wrapper {
            flex-wrap: wrap;
        }
        &__item {
            width: 400px;
            margin: 0 auto;
            margin-bottom: 20px;
            &:nth-child(1),&:nth-child(2) {
                margin-bottom: 20px;
            }   
            &-wrapper {
                width: 80%;
            } 
            &-price,&-mainPrice {
                font-size: 21px;
            }
        }
        &__collection {
            font-size: 18px;
            margin-top: 50px;
        }
    }
}

@media (max-width: 576px) {
    .products {
        padding-bottom: 60px;
        &__wrapper {
            padding: 0;
        }
        &__subtitle {
            font-size: 23px;
        }
        &__item {
            width: 280px;
            margin: 0 auto;
            margin-bottom: 20px;
            &:nth-child(1),&:nth-child(2) {
                margin-bottom: 20px;
            }
            &-information {
                height: 135px;
            } 
        }
        &__collection {
            font-size: 15px;
            margin-top: 40px;
        }
    }
}