@media (max-width: 1200px) {
    .photo {
        &__wrapper {
            grid-template: repeat(4, 400px) 500px / repeat(3, 310px);
        }
    }
}

@media (max-width: 992px) {
    .photo {
        &__wrapper {
            grid-template: repeat(5, 400px)/repeat(2, 350px);
        }
        #imageTwo {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
        
        #imageThree {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
        
        #imageSix {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
        }
        
        #imageTen {
            grid-row: 5 / 6;
            grid-column: 1 / 2;
        }
    }
}

@media (max-width: 768px) {
    .photo {
        &__wrapper {
            grid-template: repeat(10, 600px)/repeat(1, 1fr);
        }
        #imageTwo {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
        
        #imageThree {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
        
        #imageSix {
            grid-column: 1 / 2;
            grid-row: 6 / 7;
        }
        
        #imageTen {
            grid-row: 10;
            grid-column: 1 / 2;
        }
    }
}

@media (max-width: 576px) {
    .photo {
        padding-bottom: 60px;
        &__wrapper {
            grid-template: repeat(10, 400px)/repeat(1, 1fr);
        }
    }
}