.accordion {
    margin-top: 60px;
    min-height: 600px;
    &__title {
        font-size: 55px;
        text-align: center;
        margin-bottom: 60px;
    }
    &__item {
        width: 85%;
        margin: 0 auto;
        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 60px;
            background-color: #000;
            color: #fff;
            padding-left: 20px;
            padding-right: 40px;
            border-radius: 40px;
            cursor: pointer;
        }
        &-close {
            border-radius: 100%;
            background-color: #000;
            width: 44px;
            height: 44px;
            position: relative;
            transition: 0.6s all;
            }
            span {
                display: block;
                transition: 0.6s all;
                background-color: #fff;
                border-radius: 40px;
                position: absolute;
                &:first-child {
                    height: 30px;
                    width: 4px;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 7px;
                }
                &:last-child {
                    height: 4px;
                    width: 30px;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 7px;
                }
            }
        &-title {
            font-size: 25px;
        }
        &-descr {
            margin-top: 5px;
            margin-bottom: 5px;
            border-radius: 40px;
            border: 2px solid #fff;
            height: 0px;
            transition: 0.8s all ease;
            overflow: hidden;
        }
        &-text {
            display: block;
            transition: 0.8s all ease;
        }
        &-visible {
            height: 200px;
            padding: 20px;
            border: 2px solid #000;
            transition: 0.8s all ease;
            cursor: pointer;
        }
    }
}