.header {
    height: 80px;
    &__navbar {
        width: 1140px;
        height: 80px;
        background-color: #000;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }
    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        &-item {
            list-style-type: none;
            padding: 20px;
        }
        &-link {
            font-size: 20px;
            color: #fff;
            &:hover {
                text-decoration: none;
                color: #fff;
            }
        }
    }

}