.header {
    height: 80px;
    &__navbar {
        width: 1140px;
        height: 80px;
        background-color: #000;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        transition: 1s all ease;
        border: 3px solid #000;
        border-top: none;
    }
    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        &-item {
            list-style-type: none;
            padding: 20px;
            font-size: 25px;
            cursor: pointer;
            color: #fff;
            text-decoration: none;
            transition: 0.6s all ease;
        }
    }
}