.images {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    background-color: rgba(0,0,0,0.8);
    z-index: 10;
    transition: 0.8s all;
    &__active {
        display: block;
    }
    &__wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        margin: 0 auto;
        width: 600px;
        height: 800px;
        background-color: #000;
        border: 2px solid #fff;
        border-radius: 10px;
        overflow: hidden;
        transition: 0.9s all;
        opacity: 0;
        &-active {
            opacity: 1;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            transition: 1.2s all;
        }
        &-next {
            left: 535px;  
        }
    }
}