@media (max-width: 1400px) {
    .images {
        &__wrapper {
            height: 700px;

        }
    }
}
@media (max-width: 1200px) {
    .images {
        &__wrapper {
            width: 600px;
            height: 700px;
        }
    }
}

@media (max-width: 992px) {
    
}

@media (max-width: 768px) {
    .images {
        &__wrapper {
            width: 500px;
            height: 600px;
            &-next {
                left: 435px;  
            }
        }
    }
}

@media (max-width: 576px) {
    .images {
        &__wrapper {
            width: 300px;
            height: 400px;
            &-next {
                left: 235px;  
            }
        }
    }
}