.titlebox {
    min-height: calc(100vh - 80px);
    padding-top: 250px;
    &__title {
        font-size: 55px;
        text-align: center;
        color: $colorTwo;
    }
    &__subtitle {
        font-size: 55px;
        text-align: center;
        color: $colorTwo;
    }
    &__btn {
        margin: 0 auto;
        margin-top: 130px;
        color: $colorOne;
    }    
}