.titlebox {
    min-height: calc(100vh - 80px);
    padding-top: 250px;
    &__title {
        font-size: 55px;
        text-align: center;
        color: $colorTwo;
    }
    &__subtitle {
        font-size: 55px;
        text-align: center;
        color: $colorTwo;
    }
    &__btn {
        margin: 0 auto;
        margin-top: 130px;
        display: block;
        background-color: $colorTwo;
        color: $colorOne;
        width: 250px;
        height: 75px;
        font-size: 25px;
        border-radius: 4px;
        position: relative;
        transition: 0.6s all ease;
        z-index: 1;
        &::before {
            content: "";
            background-color: $colorOne;
            border-radius: 4px;
            transition: 0.6s all ease;
            border: 2px solid $colorTwo;
            position: absolute;
            top: 0;
            left: 50%;
            right: 50%;
            bottom: 0;
            opacity: 0;
        }
        &:hover { 
            border: 2px solid $colorTwo;
            transition: 0.6s all ease;
            color: $colorTwo;
            &::before {
                transition: 0.6s all ease;
                left: 0;
                right: 0;
                opacity: 1;
                z-index: -1;
            }
        }
    }
}